  <div class="contentContainer">
    <h2>About twiser</h2>
    <br>
    <h3>Twiser is the prototype for a full-featured Twitter users dashboard app that provides full analytics of your favorite Twitter users from how many followers to how many tweets. Social media marketers, mavericks, celebrities, and trolls alike will find such an app useful. It's time to plunk down some serious capital to build this thang out.</h3>

    <h3>For questions, comments, and concerns, please write: <a href="mailto:paul.day.m@gmail.com">paul.day.m@gmail.com</a></h3>

<h3><center><a href="http://paulday.io">See more of my work >></a></center></h3>

  </div>
