body {
  background-color: black;
  background-image:url('../images/city-buildings-silhouettes.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  height: auto !important;
}

.container {
  width: 100%;
  height: auto;
  min-height: 600px;
}

nav {
  width: 100%;
  padding-left: 10%;
  padding-right: 10%;
  height: 100px;
  margin-bottom: 5%;
  display:block;

}

.contentContainer {
  width: 80%;
  margin: auto;
  padding-left: 2%;
  padding-right: 2%;
  padding-bottom: 80px;
  text-align: center;
  min-height: 600px;
  clear: both;
  max-width: 900px;
}

#userSignIn {
  text-align: center;
  width: 100%;
  margin: 1%;
}

#logo {
  float: left;
  line-height: 100px;
}

#navLinks {
  width: 70%;
  float: right;
  line-height: 100px;
  display: block;
}

#mobileBar {
  display: none;
}

#userCards {
  padding-top: 25px;
  width: 80%;
  margin: auto;
  height: auto;

}

.bottomNav {
  width: 100%;
  position: fixed;
  bottom: 0;
  height: auto;
  border-top: 2px solid white;
  background-color: rgba(37, 110, 178, .9);
  -webkit-animation-name: bottomNav; /* Chrome, Safari, Opera */
  -webkit-animation-duration: 2s; /* Chrome, Safari, Opera */
  animation-name: bottomNav;
  animation-duration: 1s;
  padding: 10px;
  line-height: 1;
  text-align: center;
}

#saveDash {
  margin-left: 20px;
}

@-webkit-keyframes bottomNav {
  0%  {opacity: 0; }
  100% {opacity: 1;}
}
@keyframes bottomNav {
    0%  { opacity: 0; }
    100%  { opacity: 1; }
}
